<!-- begin app-nabar -->
<aside class="app-navbar">
    <!-- begin navbar-header -->
    <div class="navbar-header align-items-center d-lg-block d-none">
        <a class="navbar-brand" style="font-size: 2.5rem;" href="javascript:void(0)">
            <img src="${ctxPath}/assets/img/logo.png" style="height: 36px" class="img-fluid logo-desktop"
                 alt="logo"/>
            <div class="img-fluid logo-mobile"><i class="nav-icon fab fa-gofore"></i></div>
        </a>
    </div>
    <!-- begin sidebar-nav -->
    <div class="sidebar-nav scrollbar scroll_light">
        <div class="d-flex align-items-center text-left px-2 mb-2 user-setting">
            <div class="position-relative">
                <div class="avatar">
                    <img class="avatar-img rounded-circle" src="${ctxPath}/assets/img/avatar/hackerdom.jpg"
                         alt="avatar-img">
                    <span class="bg-success user-status"></span>
                </div>
            </div>
            <div class="ml-2">
                <h6 class="mb-0 text-white">Hackerdom</h6>
                <small class="d-block text-white">Koolhaas</small>
            </div>
            <div class="ml-auto user-setting">
                <a href="#"> <i class="fe fe-settings"></i> </a>
            </div>
        </div>
        <ul class="metismenu" id="sidebarNav">
            <li class="nav-static-title">Tinybee</li>
            <li class="active"><a href="${ctxPath}/"><i class="fas fa-users"></i><span class="nav-title">用户动态</span></a></li>
<!--            <li class="active"><a href="${ctxPath}/projects"><i class="nav-icon fas fa-project-diagram"></i><span class="nav-title">项目动态（开发中...）</span></a></li>-->
            <li class="sidebar-banner text-center m-3 d-block rounded"><img id="sidebarImg" class="img-fluid" style="border-radius: 7px;" src="" alt=""></li>
        </ul>
    </div>
    <!-- end sidebar-nav -->
</aside>
<!-- end app-navbar -->
