<!-- app favicon -->
<link rel="shortcut icon" href="${ctxPath}/assets/img/tinybee-1.svg">

<!-- Google Font -->
<link href="${ctxPath}/assets/google/css3.css" rel="stylesheet">

<!-- Page CSS Implementing Plugins (Remove the plugin CSS here if site does not use that feature)-->
<link rel="stylesheet" type="text/css" href="${ctxPath}/assets/css/jquery-ui/jquery-ui.min.css"/>
<link rel="stylesheet" type="text/css" href="${ctxPath}/assets/css/metisMenu/metisMenu.min.css"/>
<link rel="stylesheet" type="text/css" href="${ctxPath}/assets/css/mCustomScrollbar/jquery.mCustomScrollbar.min.css"/>
<link rel="stylesheet" type="text/css" href="${ctxPath}/assets/css/datepicker/bootstrap-datepicker.min.css"/>
<link rel="stylesheet" type="text/css" href="${ctxPath}/assets/css/toastr/toastr.min.css"/>
<!-- Template Style -->
<link rel="stylesheet" type="text/css" href="${ctxPath}/assets/css/style.css"/>

