<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content="zhangyu"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>${userInfo.dataTableVo.name} ｜ Tinybee</title>
    <% include("./inc/header.html"){} %>
</head>

<body>
<!-- begin app -->
<div class="app">
    <!-- begin app-wrap -->
    <div class="app-wrap">
        <% include("./inc/app-header.html"){} %>
        <!-- begin app-container -->
        <div class="app-container">
            <% include("./inc/aside.html"){} %>

            <!-- begin app-main -->
            <div class="app-main" id="main">
                <!-- begin container-fluid -->
                <div class="container-fluid">
                    <!-- begin row -->
                    <div class="row">
                        <div class="col-md-12 mb-2">
                            <!-- begin page title -->
                            <div class="d-block d-sm-flex flex-nowrap align-items-center">
                                <div class="page-title mb-2 mb-sm-0">
                                    <h1>时间范围统计图</h1>
                                    <p>数据<span class="text-primary">早8点～晚0点，每15分钟</span>更新一次</p>
                                </div>
                                <div class="ml-auto d-flex align-items-center">
                                    <nav>
                                        <ol class="breadcrumb p-0 m-b-0">
                                            <li class="breadcrumb-item"><a href="${ctxPath}/"><i class="ti ti-home"></i></a>
                                            </li>
                                            <li class="breadcrumb-item active text-primary" aria-current="page">
                                                时间范围统计图
                                            </li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                            <!-- end page title -->
                        </div>
                    </div>
                    <!-- end row -->
                    <div class="row">
                        <div class="col-xl-4 mb-30 datepicker-contant">
                            <div class="card card-statistics mb-30">
                                <div class="card-body datepicker-form">
                                    <div class="input-group">
                                        <input type="text" class="form-control range-from" name="from" id="startTime">
                                        <span class="input-group-addon"><i class="fas fa-minus"></i></span>
                                        <input class="form-control range-to" type="text" name="to" id="endTime">
                                        <div class="btn-group mb-2 mr-2 mb-xl-0 mr-xl-0 dropright" style="margin-left: 10px">
                                            <button class="btn btn-primary" id="getData" style="margin-left: 10px"><i class="fas fa-search"></i></button>
                                            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="sr-only">Toggle Dropdown</span></button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="javascript:query(-1)">本周</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="javascript:query(15)">15天</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="javascript:query(30)">30天</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--mail-Compose-contant-start-->
                    <div class="account-contant">
                        <div class="card card-statistics">
                            <div class="card-body py-0">
                                <div class="row align-items-center">
                                    <div class="col-lg-4 col-xl-2 col-xxl-3">
                                        <div class="page-account-profil pl-0 py-2  py-lg-3">
                                            <div class="profile-img rounded-circle">
                                                <div class="d-flex">
                                                    <div class="avatar avatar-xl">
                                                        <img src="${userInfo.dataTableVo.avatarUrl}"
                                                             class="img-fluid avatar-img rounded-circle"
                                                             alt="users-avatar">
                                                    </div>
                                                    <div class="profile ml-2">
                                                        <h5 class="mb-0">${userInfo.dataTableVo.name}</h5>
                                                        <p>${userInfo.dataTableVo.email}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-xl-6 col-xxl-6">
                                        <div class="py-2 py-lg-3 profile-counter">
                                            <ul class="nav justify-content-lg-center">
                                                <li class="nav-item p-1 px-3 bg-light mr-1 border-radius text-center">
                                                    <div>
                                                        <h5 class="mb-0">${userInfo.dataTableVo.addition}</h5>
                                                        <p>新增代码(行)</p>
                                                    </div>
                                                </li>
                                                <li class="nav-item p-1 px-3 bg-light mr-1 border-radius text-center">
                                                    <div>
                                                        <h5 class="mb-0">${userInfo.dataTableVo.deletion}</h5>
                                                        <p>删除代码(行)</p>
                                                    </div>
                                                </li>
                                                <li class="nav-item p-1 px-4 bg-light mr-1 border-radius text-center">
                                                    <div>
                                                        <h5 class="mb-0">${userInfo.dataTableVo.total}</h5>
                                                        <p>总计(行)</p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-xxl-3">
                                        <div class="profile-btn text-center d-flex py-2  py-lg-3 justify-content-xl-end">
                                            <a class="btn btn-primary mr-2" href="${ctxPath}/"><i class="fas fa-home"></i></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xl-12 col-md-12 col-12 border-top">
                                        <div class="card-body">
                                            <div class="apexchart-wrapper">
                                                <div id="chartInfo"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-md-12 col-12 border-top">
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-hover mb-0">
                                                    <thead class="thead-primary">
                                                    <tr>
                                                        <th scope="col">序号</th>
                                                        <th scope="col">日期</th>
                                                        <th scope="col">新增代码(行)</th>
                                                        <th scope="col">删除代码(行)</th>
                                                        <th scope="col">总计(行)</th>
                                                        <th scope="col">项目</th>
                                                        <th scope="col">最后提交时间</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <% for(tableVo in userInfo.dataTableVo.tableVos) { %>
                                                    <tr>
                                                        <td>${tableVoLP.index}</td>
                                                        <td>${tableVo.dateStr}</td>
                                                        <td>${tableVo.addition}</td>
                                                        <td>${tableVo.deletion}</td>
                                                        <td>${tableVo.total}</td>
                                                        <td>
                                                            <% if(tableVo.projects.~size > 0) { %>
                                                            <% for(p in tableVo.projects) { %>
                                                            <a href="${p.webUrl}/commits/${p.branche}" target="_blank"
                                                               class="btn btn-xs btn-round btn-inverse-primary">${p.name}</a>
                                                            <% } %>
                                                            <% } else { %>
                                                            -
                                                            <% } %>
                                                        </td>
                                                        <td>${tableVo.lastCommitDateStr}</td>
                                                    </tr>
                                                    <% } %>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--mail-Compose-contant-end-->
                </div>
                <!-- end container-fluid -->
            </div>
            <!-- end app-main -->
        </div>
        <!-- end app-container -->
        <% include("./inc/footer.html"){} %>
    </div>
    <!-- end app-wrap -->
</div>

<!-- end app -->
<script src="${ctxPath}/assets/js/jquery-3.4.1.min.js"></script>
<script src="${ctxPath}/assets/js/jquery-ui/jquery-ui.min.js"></script>
<script src="${ctxPath}/assets/js/popper/popper.min.js"></script>
<script src="${ctxPath}/assets/js/bootstrap/bootstrap.min.js"></script>
<script src="${ctxPath}/assets/js/metisMenu/metisMenu.min.js"></script>
<script src="${ctxPath}/assets/js/apexcharts/apexcharts.min.js"></script>
<script src="${ctxPath}/assets/js/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="${ctxPath}/assets/js/datepicker/bootstrap-datepicker.min.js"></script>
<script src="${ctxPath}/assets/js/toastr/toastr.min.js"></script>
<script src="${ctxPath}/assets/js/app.js"></script>
<script>
    var baseUrl = '${ctxPath}';
    var startTime = '${startTime}';
    var endTime = '${endTime}';
    var email = '${userInfo.dataTableVo.email}';
    var colorPalette = ['#00D8B6', '#008FFB', '#FEB019', '#FF4560', '#775DD0']
    function query(count) {
        window.location.href = baseUrl + "/user/" + email + "/" + count;
    }
    $(function () {
        initChart = function () {
            $("#days").text("最近" + ${userInfo.trendChartVo.days} +"天趋势");
            var options = {
                series: ${userInfo.trendChartVo.series},
                chart: {
                    height: 450,
                    type: 'line',
                    zoom: {
                        enabled: false
                    },
                },
                dataLabels: {
                    enabled: false
                },
                stroke: {
                    width: [5, 7, 5],
                    curve: 'straight',
                    dashArray: [0, 8, 5]
                },
                title: {
                    fontFamily: 'Lato',
                    // text: '${userInfo.trendChartVo.username}' + " - " + '${userInfo.trendChartVo.email}',
                    align: 'left'
                },
                legend: {
                    tooltipHoverFormatter: function (val, opts) {
                        return val + ' - <strong>' + opts.w.globals.series[opts.seriesIndex][opts.dataPointIndex] + '</strong>'
                    }
                },
                markers: {
                    size: 0,
                    hover: {
                        sizeOffset: 6
                    }
                },
                xaxis: {
                    categories: ${userInfo.trendChartVo.categories},
                },
                tooltip: {
                    y: [{
                        title: {
                            formatter: function (val) {
                                return val + "行"
                            }
                        }
                    },
                        {
                            title: {
                                formatter: function (val) {
                                    return val + "行"
                                }
                            }
                        },
                        {
                            title: {
                                formatter: function (val) {
                                    return val;
                                }
                            }
                        }
                    ]
                },
                grid: {
                    borderColor: '#f1f1f1',
                }
            };
            var chart = new ApexCharts(document.querySelector("#chartInfo"), options);
            chart.render();
        }
        initChart();
        $("#getData").click(function () {
            $(this).attr("disabled", "disabled");
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-top-center",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": 300,
                "hideDuration": 1000,
                "timeOut": 60000,
                "extendedTimeOut": 1000,
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            toastr["success"]("正在努力统计数据，请您耐心等待。")
            window.location.href = window.location.href.split("?")[0] + "?startTime=" + $('#startTime').val() + "&endTime=" + $('#endTime').val();
        });

        $("#search-a").keydown(function (event) {
            var _this = $(this);
            var name = _this.val();
            if (event.keyCode == 13) {
                $.get(baseUrl + "/user/" + name + "/base", function (d) {
                    if (d.success) {
                        window.location.href = baseUrl + "/user/" + d.data.email + "/info";
                    } else {
                        _this.val("");
                    }
                });
            }
        });

        $(".userInfo").click(function () {
            window.location.href = baseUrl + "/user/" + $(this).data("email") + "/info";
        });

        $("#search-ajax").keydown(function (event) {
            var _this = $(this);
            var name = _this.val();
            if (event.keyCode == 13) {
                $.get(baseUrl + "/user/" + name + "/base", function (d) {
                    if (d.success) {
                        window.location.href = baseUrl + "/user/" + d.data.email + "/info";
                    } else {
                        _this.val("");
                    }
                });
            }
        });

    });
</script>
<script src="${ctxPath}/assets/js/sidebar.js"></script>
</body>
</html>
